/* ---------------------------------- */
/* Range Slider
------------------------------------- */
.rangeslider,
.rangeslider__fill {
  display: block;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.rangeslider {
  background: #e6e6e6;
  position: relative;
  margin: 25px 0;
  touch-action:none;
}

.rangeslider--horizontal {
  height: 3px;
  width: 100%;
}

.rangeslider--vertical {
  width: 20px;
  min-height: 150px;
  max-height: 100%;
}

.rangeslider--disabled {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}

.rangeslider__fill {
  background: #66676b;
  position: absolute;
}
.rangeslider--horizontal .rangeslider__fill {
  top: 0;
  height: 100%;
}
.rangeslider--vertical .rangeslider__fill {
  bottom: 0;
  width: 100%;
}

.rangeslider__handle {
	background: white;
	border: 2px solid #66676b;
	box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.15);
	cursor: pointer;
	display: inline-block;
	position: absolute;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;

	width: 20px;
	height: 20px;
  	top: 50%;
  	transform: translateY(-50%);
}

.rangeslider--vertical .rangeslider__handle {
  left: -10px;
  touch-action: pan-x;
  -ms-touch-action: pan-x;
}

input[type="range"]:focus + .rangeslider .rangeslider__handle {
  -moz-box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
  -webkit-box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
  box-shadow: 0 0 8px rgba(255, 0, 255, 0.9);
}

.range-output {
	font-size: 16px;
	font-weight: 400;
	color: #666;
}
.range-output:after {
	content: "";
}
.spots-output:after {
	content: " meal(s)";
}
.price-output:before {
	content: "€ ";
}

.data-radius-title {
	font-style: normal;
	font-size: 15px;
	color: #888;
	font-weight: 400;
	margin-top: 0;
	display: block;
}
