.container{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  text-align: left;
  padding: 20px;
  line-height: 1.8;
  width: 500px;
}

h1 {
  background: #000;
  color: #eee;
  padding-left: 20px;
}

.left {
  float:left;
}

.right {
  float:right;
}

ol {
  padding-left: 20px;
  list-style-position: outside;
}

li {
  text-align: left;
  position: relative;
}

#secretsloth {
  position:absolute;
  transition: all 4s ease;
  right:20px;
  top:0px;
  cursor:pointer;
  text-shadow: 0 0 0 red;
}

.anger {
  animation: angry 0.8s 2;
}

.shaking {
  animation: shake 2s infinite;
}

@keyframes angry {
  0% {
    color: transparent;
  }
  100% {
    color: #bada55;
  }
}

@keyframes shake {
  0% {
    transform: rotate(45deg);
  }
  50% {
    transform: rotate(-45deg);
  }
  100% {
    transform: rotate(45deg);
  }
}